snippet #todo "TODO"
# TODO (`whoami` `date +%F`): ${0:text}
endsnippet

snippet //todo "TODO"
// TODO (`whoami` `date +%F`): ${0:text}
endsnippet

snippet #fixme "FIXME"
# FIXME (`whoami` `date +%F`): ${0:text}
endsnippet

snippet //fixme "FIXME"
// FIXME (`whoami` `date +%F`): ${0:text}
endsnippet
