snippet main "main" b
int main(int argc, char **argv) {
	${0}
	return 0;
}
endsnippet

snippet #inc "include" b
#include <${0:iostream}>
endsnippet

snippet usi "using namespce std" b
using namespace std;
endsnippet
