@import 'macchiato.css';

* {
  font-family: JetBrains Mono Nerd Font;
  font-size: 14px;
  min-height: 0;
}

#waybar {
  background: transparent;
  color: @text;
  margin: 3px 3px;
}

#workspaces {
  border-radius: 1rem;
  padding: 0 5px;
  background-color: @surface0_opa;
  margin: 3px;
}

#workspaces button {
  color: @lavender;
  border-radius: 1rem;
  padding: 0.4rem;
}

#workspaces button.active {
  color: @peach;
  border-radius: 1rem;
}

#workspaces button:hover {
  color: @sapphire;
  border-radius: 1rem;
}

#custom-music,
#tray,
#backlight,
#cpu,
#memory,
#power-profiles-daemon,
#clock,
#battery,
#pulseaudio,
#language,
#custom-lock,
#custom-power {
  background-color: @surface0;
  padding: 0.5rem 0.7rem;
  margin: 3px 0;
}

#power-profiles-daemon {
  border-radius: 1rem 0 0 1rem;
}

#memory {
  border-radius: 0 1rem 1rem 0;
}

#cpu.idle,
#memory.idle {
  color: @text;
}

#cpu.normal,
#memory.normal,
#power-profiles-daemon.power-saver {
  color: @green;
}

#cpu.warning,
#memory.warning,
#power-profiles-daemon.balanced {
  color: @yellow;
}

#cpu.critical,
#memory.critical,
#power-profiles-daemon.performance {
  color: @red;
}

#clock {
  color: @blue;
  border-radius: 0px 1rem 1rem 0px;
  margin-right: 0.5rem;
}

#battery {
  color: @green;
}

#battery.charging {
  color: @green;
}

#battery.warning:not(.charging) {
  color: @red;
}

#backlight {
  color: @yellow;
}

#backlight,
#battery {
  border-radius: 0;
}

#pulseaudio {
  color: @maroon;
  border-radius: 1rem 0px 0px 1rem;
  margin-left: 0.5rem;
}

#custom-music {
  color: @peach;
  border-radius: 1rem;
}

#custom-lock {
  border-radius: 1rem 0 0 1rem;
  color: @lavender;
}

#custom-power {
  border-radius: 0 1rem 1rem 0;
  margin-right: 3px;
  padding-right: 1rem;
  color: @red;
}

#tray {
  margin-right: 0.5rem;
  border-radius: 1rem;
}
